html { /* Full size background image */
    background: url(../images/Eggs2.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1 { /* One Basket title */
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #fff;
    font-size: 3.5em;
    text-shadow: 1px 1px 1px dimgrey;
    margin-bottom: 15px;
}


.fa-plus-circle:before { /* Add button */
    vertical-align: -11px;
    margin-left: 8px;
    color: white;
}

#userInput { /* Input and button */
    text-align: center;
    margin-top: -15px;
}

#list { /* List of new items */
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-weight: 500;
    margin-top:
}

ul#list{
      padding: 0px;
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 6px;
}

#list li { /* latch on to ul element and do this to all of its children li elements */
    list-style-type: none;
    text-align: left;
    margin-left: 40%;

}

.completed { /*Refers to checked/line-through items */
    text-decoration: line-through;
    color: dimgrey;
}

.userText { /* Input box and new text */
    width: 150px;
    height: 28px;
    border: 2px solid;
    color: dimgrey;
    border-radius: 10px;
}

input { /* Submit button */
    text-decoration: none;
    border: 2px solid;
    border-radius: 50%;
    border-color: white;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    font-size: 20px;
    color: white;
    font-family: 'Questrial', sans-serif;
    vertical-align: -5px;
}

.delete:hover {
    cursor: pointer; cursor: hand;
}

.delete {
    vertical-align: 0px;
    margin-left: 8px;
}

li.item {
    height: 25px;
    padding 0px;
    margin-right: 0px;
}

input.checkbox {
    margin-right: -4px;

}

.fa-plus-circle {
    vertical-align: 1px;
    padding: 0px;
    margin-left: 6px;
   /* text-shadow: 1px 1px 1px #2f4f4f;*/
}


